In [31]:
from google.colab import files
uploaded = files.upload()

Saving sales_data_sample.csv to sales_data_sample (1).csv

Import libraries and load the data

In [2]:
import pandas as pd   #importing pandas

df = pd.read_csv('sales_data_sample.csv', encoding = 'latin1')    #reading the csv dataset file

Explore the data

In [5]:
print("Shape:", df.shape)    #Explore the data

Shape: (2823, 25)

In [6]:
print("Columns", df.columns)    #Explore the columns

Columns Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [7]:
df.head()  #prints the first few rows and columns from the dataset

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [8]:
df.tail()   #prints the last few rows and columns from the dataset

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [10]:
df.sample(5)   #prints the 5 random rows and columns from the dataset

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
342,10108,39,89.38,7,3485.82,3/3/2003 0:00,Shipped,1,3,2003,...,15 McCallum Street - NatWest Center #13-03,NaN,Makati City,NaN,1227 MM,Philippines,Japan,Cruz,Arnold,Medium
318,10127,42,100.00,1,8138.76,6/3/2003 0:00,Shipped,2,6,2003,...,4092 Furth Circle,Suite 400,NYC,NY,10022,USA,NaN,Young,Jeff,Large
2622,10194,26,89.01,6,2314.26,11/25/2003 0:00,Shipped,4,11,2003,...,"2, rue du Commerce",NaN,Lyon,NaN,69004,France,EMEA,Saveley,Mary,Small
1147,10191,23,100.00,5,3414.58,11/20/2003 0:00,Shipped,4,11,2003,...,Mehrheimerstr. 369,NaN,Koln,NaN,50739,Germany,EMEA,Pfalzheim,Henriette,Medium
703,10114,39,100.00,3,4164.42,4/1/2003 0:00,Shipped,2,4,2003,...,"265, boulevard Charonne",NaN,Paris,NaN,75012,France,EMEA,Bertrand,Marie,Medium

Extra Checks

In [11]:
df.info()  #columns data types and non null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [12]:
df.describe()   #describes the data like summary and statistics of the data

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

In [13]:
df.isna().sum()    # returns the missing values count

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [14]:
df.duplicated().sum()    #duplicated rows count

np.int64(0)

**DAY 3 - TASK (EDA)**

**Handle Missing Data**

In [15]:
df.isna()          #handling missing values

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2819,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2820,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2821,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2822,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False

In [16]:
df.isna().sum()     # Identifying missing values

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

Handling Missing Values

In [17]:
df.dropna(inplace=True)

In [18]:
df.isna().sum()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
ADDRESSLINE2        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

Save the cleaned data

In [19]:
df.to_csv("sales_data_cleaned.csv", index=False)

**DAY 4 - Fix Data Typs & Duplicates**

In [20]:
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'])     #for dates

In [21]:
df['QUANTITYORDERED'] = pd.to_numeric(df['QUANTITYORDERED'])  #Convert numerics usin pd.to_numeric()

In [22]:
df = df.drop_duplicates()     #Drop the duplicates

**DAY 5 - Data Normalization and Scaling**

In [23]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [24]:
df = pd.read_csv("sales_data_cleaned.csv")

In [25]:
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
print(("Numerical columns:", numerical_cols))

('Numerical columns:', Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'MSRP', 'POSTALCODE'],
      dtype='object'))

In [26]:
scaler = MinMaxScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

print(df[numerical_cols].head())

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER     SALES  \
0     0.343333         0.431373    1.00000         0.000000  0.363235
1     0.803333         0.098039    0.62459         0.857143  0.087555
2     0.500000         0.117647    1.00000         0.571429  0.466256
3     0.756667         0.294118    1.00000         0.000000  0.360937
4     0.903333         0.176471    1.00000         0.214286  0.193408

     QTR_ID  MONTH_ID  YEAR_ID      MSRP  POSTALCODE
0  0.000000  0.090909      0.5  0.342541    1.000000
1  1.000000  1.000000      0.5  0.342541    0.007415
2  0.666667  0.545455      0.5  1.000000    0.007415
3  1.000000  0.909091      0.5  1.000000    1.000000
4  0.000000  0.181818      1.0  1.000000    0.000000

In [27]:
df.to_csv("processed_data.csv", index=False)

DAY-6 Export Data for PowerBI

In [28]:
import pandas as pd
df = pd.read_csv("processed_data.csv")

In [29]:
print(df.info()) # Check final structure
print(df.head()) # Preview data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       147 non-null    float64
 1   QUANTITYORDERED   147 non-null    float64
 2   PRICEEACH         147 non-null    float64
 3   ORDERLINENUMBER   147 non-null    float64
 4   SALES             147 non-null    float64
 5   ORDERDATE         147 non-null    object
 6   STATUS            147 non-null    object
 7   QTR_ID            147 non-null    float64
 8   MONTH_ID          147 non-null    float64
 9   YEAR_ID           147 non-null    float64
 10  PRODUCTLINE       147 non-null    object
 11  MSRP              147 non-null    float64
 12  PRODUCTCODE       147 non-null    object
 13  CUSTOMERNAME      147 non-null    object
 14  PHONE             147 non-null    object
 15  ADDRESSLINE1      147 non-null    object
 16  ADDRESSLINE2      147 non-null    object
 17  CITY              147 non-null    object
 18  STATE             147 non-null    object
 19  POSTALCODE        147 non-null    float64
 20  COUNTRY           147 non-null    object
 21  TERRITORY         147 non-null    object
 22  CONTACTLASTNAME   147 non-null    object
 23  CONTACTFIRSTNAME  147 non-null    object
 24  DEALSIZE          147 non-null    object
dtypes: float64(10), object(15)
memory usage: 28.8+ KB
None
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER     SALES  \
0     0.343333         0.431373    1.00000         0.000000  0.363235
1     0.803333         0.098039    0.62459         0.857143  0.087555
2     0.500000         0.117647    1.00000         0.571429  0.466256
3     0.756667         0.294118    1.00000         0.000000  0.360937
4     0.903333         0.176471    1.00000         0.214286  0.193408

         ORDERDATE   STATUS    QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/20/2004 0:00  Shipped  0.000000  0.090909      0.5  ...
1  12/17/2004 0:00  Shipped  1.000000  1.000000      0.5  ...
2   7/19/2004 0:00  Shipped  0.666667  0.545455      0.5  ...
3  11/29/2004 0:00  Shipped  1.000000  0.909091      0.5  ...
4    3/9/2005 0:00  Shipped  0.000000  0.181818      1.0  ...

                              ADDRESSLINE1  ADDRESSLINE2          CITY  \
0                        636 St Kilda Road       Level 3     Melbourne
1  Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood
2  Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood
3                        636 St Kilda Road       Level 3     Melbourne
4                        201 Miller Street      Level 15  North Sydney

      STATE POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME  \
0  Victoria   1.000000  Australia      APAC        Ferguson            Peter
1       NSW   0.007415  Australia      APAC          Huxley           Adrian
2       NSW   0.007415  Australia      APAC          Huxley           Adrian
3  Victoria   1.000000  Australia      APAC        Ferguson            Peter
4       NSW   0.000000  Australia      APAC          O'Hara             Anna

   DEALSIZE
0    Medium
1     Small
2    Medium
3    Medium
4     Small

[5 rows x 25 columns]

In [30]:
df.to_csv("final_data_for_powerbi.csv",
index=False)

In [32]:
import pandas as pd
df = pd.read_csv('final_data_for_powerbi.csv')

In [33]:
print(df.head())

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER     SALES  \
0     0.343333         0.431373    1.00000         0.000000  0.363235
1     0.803333         0.098039    0.62459         0.857143  0.087555
2     0.500000         0.117647    1.00000         0.571429  0.466256
3     0.756667         0.294118    1.00000         0.000000  0.360937
4     0.903333         0.176471    1.00000         0.214286  0.193408

         ORDERDATE   STATUS    QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/20/2004 0:00  Shipped  0.000000  0.090909      0.5  ...
1  12/17/2004 0:00  Shipped  1.000000  1.000000      0.5  ...
2   7/19/2004 0:00  Shipped  0.666667  0.545455      0.5  ...
3  11/29/2004 0:00  Shipped  1.000000  0.909091      0.5  ...
4    3/9/2005 0:00  Shipped  0.000000  0.181818      1.0  ...

                              ADDRESSLINE1  ADDRESSLINE2          CITY  \
0                        636 St Kilda Road       Level 3     Melbourne
1  Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood
2  Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood
3                        636 St Kilda Road       Level 3     Melbourne
4                        201 Miller Street      Level 15  North Sydney

      STATE POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME  \
0  Victoria   1.000000  Australia      APAC        Ferguson            Peter
1       NSW   0.007415  Australia      APAC          Huxley           Adrian
2       NSW   0.007415  Australia      APAC          Huxley           Adrian
3  Victoria   1.000000  Australia      APAC        Ferguson            Peter
4       NSW   0.000000  Australia      APAC          O'Hara             Anna

   DEALSIZE
0    Medium
1     Small
2    Medium
3    Medium
4     Small

[5 rows x 25 columns]

In [34]:
print(df.dtypes)

ORDERNUMBER         float64
QUANTITYORDERED     float64
PRICEEACH           float64
ORDERLINENUMBER     float64
SALES               float64
ORDERDATE            object
STATUS               object
QTR_ID              float64
MONTH_ID            float64
YEAR_ID             float64
PRODUCTLINE          object
MSRP                float64
PRODUCTCODE          object
CUSTOMERNAME         object
PHONE                object
ADDRESSLINE1         object
ADDRESSLINE2         object
CITY                 object
STATE                object
POSTALCODE          float64
COUNTRY              object
TERRITORY            object
CONTACTLASTNAME      object
CONTACTFIRSTNAME     object
DEALSIZE             object
dtype: object

In [35]:
df.isna().sum()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
ADDRESSLINE2        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

In [36]:
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
print("Numerical columns:", list(numerical_cols))

Numerical columns: ['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER', 'SALES', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'MSRP', 'POSTALCODE']

In [37]:
categorical_cols = df.select_dtypes(include=['object']).columns
print("Categorical columns:", list(categorical_cols))

Categorical columns: ['ORDERDATE', 'STATUS', 'PRODUCTLINE', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE', 'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME', 'DEALSIZE']

In [41]:
print("\nPotential Business Questions:")
print("- How does sales performance vary by region?")
print("- What are the top-selling product categories?")
print("- What is the trend in revenue over time?")
print("- What is the average order value per customer segment?")

Potential Business Questions:
- How does sales performance vary by region?
- What are the top-selling product categories?
- What is the trend in revenue over time?
- What is the average order value per customer segment?

KPIs & Metrics

In [44]:
# Example calculations to inform KPIs (don't save these; just use for planning)
if 'Revenue' in df.columns:
    total_revenue = df['Revenue'].sum()
    print("Total Revenue:", total_revenue)

if 'Order_Value' in df.columns and 'Order_ID' in df.columns:  # Assuming relevant columns
    avg_order_value = df['Order_Value'].mean()
    print("Average Order Value:", avg_order_value)

# Revenue: Product Category (group by)
if 'Revenue' in df.columns and 'Product_Category' in df.columns:
    revenue_by_category = df.groupby('Product_Category')['Revenue'].sum()
    print("\nRevenue by Product Category:\n", revenue_by_category)

# Sales: Trend Over Time
if 'Date' in df.columns and 'Revenue' in df.columns:
    df['Date'] = pd.to_datetime(df['Date'])  # Ensure date type
    monthly_trend = df.resample('M', on='Date')['Revenue'].sum()
    print("\nMonthly Revenue Trend:\n", monthly_trend)

In [47]:
markdown_content = """
# Day 7 – Data Visualization Plan for Power BI

## 📈 Dashboard Objective

To visualize sales performance across product lines, regions, and time periods using key metrics.

## 🔑 KPIs to Display

- Total Revenue
- Average Order Value
- Revenue by Product Line
- Monthly Sales Trend
- (Optional: Sales by Country, Total Quantity Sold)

## 📊 Planned Visuals

| KPI                   | Chart Type | Description                                    |
|-----------------------|------------|------------------------------------------------|
| Total Revenue         | Card       | Display overall revenue from all sales records |
| Average Order Value   | Card       | Show average sales value per unique order      |
| Revenue by Product Line | Bar Chart | Compare sales across different product categories |
| Monthly Sales Trend   | Line Chart | Show how sales change month over month         |
| Sales by Country      | Bar Chart  | Compare sales across regions/countries         |

## ⚙️ Next Step

Use this plan to build the Power BI dashboard in Day 8.
"""

with open('visualization_plan.md', 'w') as f:
    f.write(markdown_content)
print("Saved as visualization_plan.md")

Saved as visualization_plan.md